/* General */

/* impor de fuente */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* colores */
:root {
  --color-bg: #ffffff;          /* Fondo general */
  --color-bg-alt: #f8f8f8;      /* Fondo alterno de secciones */
  --color-dark: #0a0000;        /* Texto principal / títulos oscuros */
  --color-accent-dark: #34232a; /* Fondo de header / footer */
  --color-primary: #614051;     /* Violeta profundo - títulos y botones */
  --color-secondary: #967284;   /* Rosa malva - hover, detalles */
  --color-accent-light: #cfa8bb;/* Rosa pastel - bordes, decoraciones */
  --color-text-light: #ffffff;  /* Texto claro sobre fondos oscuros */
}

* {
    margin: 0 ;
    padding: 0 ;
}

body {
   font-family: Montserrat, sans-serif;
   background-color: var(--color-bg);
   color: var(--color-dark);
}

html {
   scroll-behavior: smooth;
}

p {
   color : var(--color-dark);
}

/* TRANSITIONS */
a, .btn {
   transition: all 300ms ease ;
}

/* DESKTOP-NAV */
 nav , .nav-links{
   display: flex ;
 }

 nav {
   justify-content: space-around;
   height: 17vh ;
   align-items: center ;
   background-color: var(--color-accent-dark);
 }

 .nav-links {
   gap: 2rem ;
   list-style: none ;
   font-size: 1.5rem ;
 }

 a {
    color: #f8f8f8;
    text-decoration: none ; 
    text-decoration-color: white ; 
 }

 /* efectos para cuando el mouse pasa por encima de los enlaces */
 a:hover {
    color: var(--color-accent-light);
    text-decoration: underline ;  
    text-underline-offset: 1rem ; 
    text-decoration-color: var(--color-accent-dark) ;
 }

 
 .logo { 
    font-size: 2rem ; 
    color: var(--color-bg);
 }

 .logo:hover {
    cursor: default ; 
 }

 /* HAMBURGER MENU */
 #mobile-nav {
    display: none ; 
 }

.hamburger-menu{
   position: relative ; 
   display: inline-block ;
}

.hamburger-icon{
   display: flex ; 
   flex-direction: column ; 
   justify-content: space-between ; 
   height: 24px ; 
   width: 30px ; 
   cursor: pointer ; 
}

.hamburger-icon span {
   width: 100% ; 
   height: 2px ; 
   background-color: var(--color-text-light);
   transition: all 0.3s ease-in-out;
}

.menu-links {
   position: absolute ; 
   top: 100% ; 
   right: 0 ; 
   background-color: var(--color-bg);
   width: fit-content ; 
   max-height: 0 ; 
   overflow: hidden ;  
   transition: all 0.3s ease-in-out ; 
}

.menu-links a {
   display: block ; 
   padding: 10px; 
   text-align: center ; 
   font-size: 1.5rem ; 
   color: var(--color-dark);
   text-decoration: none ; 
   transition: all 0.3s ease-in-out ; 
}

.menu-links li {
   list-style: none ; 

}

.menu-links.open {
   max-height: 300px ; 
}

.hamburger-icon.open span:first-child {
   transform: rotate(45deg) translate(10px, 5px) ; 
}

.hamburger-icon.open span:nth-child(2) {
   opacity: 0 ; 
}

.hamburger-icon.open span:last-child {
   transform: rotate(-45deg) translate(10px, -5px) ; 
}

.hamburger-icon span:first-child {
   transform: none ; 
}

.hamburger-icon span:first-child {
   opacity: 1 ; 
}

.hamburger-icon span:first-child {
   transform: none ; 
}

/* SECTIONS */
section {
   padding-top: 4vh ; 
   height: 96vh ; 
   margin: 0 10rem; 
   box-sizing: border-box ; 
   min-height: fit-content ; 
}

.section-container {
   display: flex ; 
}

/* PROFILE SECTION */ 
#profile {
   display: flex ; 
   justify-content: center ; 
   gap: 5rem ; 
   height: 80vh ; 
}

.section__pic-container {
   display: flex; 
   height: 400px ; 
   width: 400px ; 
   margin: auto 0 ; 
   border-radius: 2rem;
   color: var(--color-dark);
}

.section__text {
   align-self:  center ; 
   text-align: center ; 
}

.section__text p {
   font-weight: 600;
}

.section__text__p1 {
   text-align: center ; 
   color: var(--color-secondary);
}

.section__text__p2 {
   font-size: 1.75rem ; 
   margin-bottom: 1rem ;
   color: var(--color-primary);
}

.title {
   font-size: 3rem ; 
   text-align: center ; 
   color: var(--color-primary);
}

#socials-container {
   display: flex ; 
   justify-content: center ; 
   margin-top: 1rem ; 
   gap: 1rem ; 
}

/* ICONS */
.icon {
   cursor: pointer ; 
   height: 2rem ; 
   filter: brightness(0) saturate(100%) invert(24%) sepia(20%) saturate(800%) hue-rotate(280deg) brightness(95%) contrast(90%);
   transition: transform 0.3s ease-in-out;
}

/* BUTTONS */
.btn-container {
   display: flex ; 
   justify-content: center ;
   gap: 1rem ; 
}

.btn {
   font-weight: 600 ; 
   transition: all 300ms ease ; 
   padding: 1rem ; 
   width: 8rem ;
   border-radius: 2rem ; 
}

.btn-color-1 , .btn-color-2 {
   border: 1px solid var(--color-primary);
   color:var(--color-accent-dark);
}


.btn-color-1:hover , .btn-color-2:hover {
   cursor: pointer ; 
}

.btn-color-1 , .btn-color-2:hover {
   background: var(--color-primary) ;
   color: white ; 
}

.btn-color-1:hover {
   background: var(--color-accent-dark) ;
}

.btn-color-2 {
   background: none ;;
}

.btn-color-2:hover {
   border: rgb(255, 255, 255) 0.1rem solid ; 
}

.btn-container {
   gap: 1rem ; 
}

/* ABAUT SECTION */
#about {
   position: relative ; 
}

.about-containers {
   gap: 2rem ; 
   margin-bottom: 2rem ; 
   margin-top: 2rem ; 
}

.about-details-container {
   justify-content: center ; 
   flex-direction: column ; 
} 

.about-containers , .about-details-container {
   display: flex ; 
}

.about-pic {
   border-radius: 2rem ; 
}

.arrow {
   position: absolute ; 
   right: -5rem ; 
   bottom: 2.5rem ; 
}

.details-containers {
   color:var(--color-accent-dark);
   padding: 1.5rem ; 
   flex: 1 ; 
   background: var(--color-bg);
   border-radius: 2rem ; 
   border: 1px solid var(--color-accent-light);
   text-align: center ; 
   box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.section-container {
   gap: 4rem ; 
   height: 80% ; 
}

.section__pic-container {
   height: 400px ; 
   width: 400px ; 
   margin: auto 0 ; 
}

/* EXPERIENCE SECTION */
#experience {
   position: relative;
}

.experience-sub-title {
   color: var(--color-primary);
   font-weight: 600;
   font-size: 1.75rem;
   margin-bottom: 2rem;
}

.experience-details-contaider {
   display: flex ; 
   justify-content: center ; 
   flex-direction: column ; 
}

.article-container {
   display: flex ;
   text-align: initial ; 
   flex-wrap: wrap ; 
   flex-direction: row ; 
   gap: 2.5rem ; 
   justify-content: space-around ; 
}

article {
   display: flex ;
   width: 10rem ; 
   justify-content: space-around ; 
   gap: 0.5rem ; 
}

article .icon {
   cursor: default ; 
}

/* PROJECTS SECTION */
#projects {
   position: relative ; 
}

.color-container {
   border: 1px solid var(--color-accent-light);
   background: var(--color-bg-alt);
}

.project-img {
   border-radius: 2rem ; 
   width: 90% ; 
   height: 90% ; 
}

.project-title {
   margin: 1rem ;
   color: var(--color-primary);
}

.project-description {
   margin: 1rem ;
   color: var(--color-secondary);
}

.project-btn {
   color: var(--color-primary);
   border-color: var(--color-accent-light);
}

/* CONTACT SECTION */
#contact {
   display: flex ; 
   justify-content: center ; 
   flex-direction: column ; 
   height: 70vh ; 
   position: relative ; 
}

.contact-info-upper-container {
   display: flex ; 
   justify-content: center ;
   border-radius: 2rem ; 
   border: 1px solid var(--color-accent-light);
   background: var(--color-bg);
   margin: 2rem auto; 
   padding: 0.5rem ; 
}

.contact-info-container {
   display: flex ; 
   justify-content: center ; 
   align-items: center ; 
   gap: 0.5rem ;
   margin: 1rem ; 
}

.contact-info-container p a {
   font-size: larger ; 
   color: var(--color-primary);
}

.contact-info-container p a:hover {
   color: var(--color-accent-dark);
}

.contact-icon {
   cursor: default ; 
}

.email-icon {
   height: 2.5rem ; 
}

/* FORM */

.contact-form-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.contact-form-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
}

.contact-form-container input,
.contact-form-container textarea {
  padding: 0.75rem;
  border: 1px solid var(--color-accent-light);
  background: var(--color-bg);
  border-radius: 0.5rem;
  font-size: 1rem;
  resize: none;
}

.contact-form-container input:focus,
.contact-form-container textarea:focus {
   border-color: var(--color-primary);
   background: var(--color-bg-alt);
}

.contact-form-container button {
  padding: 0.75rem;
  border-radius: 2rem ;
  border: 1px solid var(--color-primary);
  background: var(--color-primary);
  color: var(--color-text-light);
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.contact-form-container button:hover {
   background-color: var(--color-secondary);
   border-color: var(--color-secondary);
   color: black ;
   transition: all 300ms ease ;
}

.map-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  border-radius: 1rem;
  overflow: hidden;
  border: 2px solid var(--color-accent-light);
  background-color: var(--color-bg-alt);
  box-shadow: 0 4px 10px rgba(97, 64, 81, 0.3);
}



/* FOOTER */
footer {
   padding: 2rem;
   height: 26vh ; 
   margin: 0 1rem ; 
}

footer p {
   text-align: center ; 
}
